<div class="container">
  <p class="lead">Feed</p>
  <div *ngFor="let feedItem of feedData?.items; let postIndex = index;"
        class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="user-post-data">
      <div class="d-flex flex-wrap align-items-center">
        <div
          class="media-support-user-img mr-15 img-fluid">
          <img class="rounded-circle user-image-50-50 cursor-pointer"
                [src]="feedItem?.creator?.url || 'assets/images/profile.png'"
                alt="">
        </div>
        <div
          class="media-support-info post-name-location">
          <h5 class="mb-0 d-inline-block" style="padding-right: 1px">
            <a [routerLink]="['/', 'user-view', 'profile-page', feedItem?.creator?.id]">
              {{ feedItem?.creator?.firstName }} {{ feedItem?.creator?.lastName }}
            </a>
          </h5>
          <span> posted </span>
          <ng-container *ngIf="feedItem?.post?.group && feedItem?.post?.group?.id">
            <span>to </span>
            <a   style="padding-left: 1px">
              {{ feedItem?.post?.group?.name }}
            </a>
          </ng-container>
          <br/>
          <div class="d-flex align-items-center mt-1 hide-sm">
            <img src="assets/images/icon/location.png"
                  alt="story-img"
                  class="location-image icon-image-20">
            <p class="m-0">
              {{ feedItem.creator?.currentCity }}, {{ feedItem.creator?.currentState }}
            </p> &nbsp; &nbsp;
          </div>
        </div>

        <div class="iq-card-post-toolbar">
          <div class="dropdown">
            <span class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="button">
                <i class="ri-more-2-line"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center mt-1 show-sm sm-mt-10 sm-font-size-12">
        <img src="assets/images/icon/location.png"
              alt="story-img"
              class="location-image icon-image-20 sm-mr-5">
        <p class="my-0 sm-mr-20">
          {{ feedItem.creator?.currentCity }},
          {{ feedItem.creator?.currentState }}
        </p>
        <span class="post-time">
          {{ feedItem?.post?.creationDateTime  | date }}
        </span>
      </div>
      <div class="pt-20 post-desc">
      </div>
    </div>

    <div class="user-post"    *ngIf="feedItem?.post?.media?.length">
      <div class="d-flex">
        <app-feed-media [items]="feedItem.post?.media"
                        [meta]="feedItem">
        </app-feed-media>
      </div>
    </div>
  </div>
</div>
