/*------------- Variable ------------*/

:root {
  --iq-title-text: #3f414d;
  --iq-body-text: #777D74;
  --iq-primary: #3a8e82;
  --iq-secondary: #a09e9e;
  --iq-success: #49f0d3;
  --iq-warning: #ffba68;
  --iq-danger: #ff9b8a;
  --iq-info: #3a8e82;
  --iq-dark: #3f414d;
  --iq-light: #fafafb;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-light-primary: #f5fbff;
  --iq-light-secondary: #f1f2f1;
  --iq-light-success: #eefff2;
  --iq-light-danger: #fff5f4;
  --iq-light-warning: #fffcf3;
  --iq-light-info: #eee6f5;
  --iq-light-dark: #f0efef;
  --iq-primary-hover: #27ab98;
  --iq-border-light: #f1f1f1;
}